

.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 50px;
}

.main-todolist-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 80vw;
}