

.time-container {
  width: 50vw;
  height: 50vw;
  border: solid white 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.time-container div::before {
  content: " : "; /* 'Time: '라는 텍스트를 추가 */
}